.song-container {
  min-height: 60vh;
  // background-color: aqua;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 20%;
    border-radius: 100vmax;
    // border: 2px solid lightcoral;
  }

  h2 {
    padding: 3rem 1rem 0.5rem 1rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 50em) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
